body {
  background-color: rgb(221, 212, 221);
  color: white;
  font-family: Helvetica;
  margin: 0;

}

h1{
  background-color: rgb(223, 212, 223);
  width: 800px;
  margin: 0 auto;
  padding: 30px;
  border-left: 3px double gainsboro;
  border-right: 3px double gainsboro;
  font-size: 1.2cm;

}
img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}